<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bee.dao.ProductAttributeMapper">

    <insert id="save" useGeneratedKeys="true" parameterType="cn.bee.model.ProductAttribute" keyProperty="id">
        insert into product_attribute (unit,length,width,height,area,weight,
        des,producer,produce_time,expire_time,origin_place,create_time) VALUES
        (#{unit},#{length},#{width},#{height},#{area},#{weight},#{des},#{producer},#{produceTime},
        #{expireTime},#{originPlace},now())
    </insert>

</mapper>