<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bee.dao.UserMapper">
    <insert id="save">
        insert into user (uuid,username,realname,password,create_time) VALUES
        (#{uuid},#{name},#{realName},#{password},now());
    </insert>

    <select id="findUserByName" resultType="cn.bee.User">
        select id,uuid,username as name,realname,password from user where username=#{name} limit 1
    </select>
</mapper>